{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="flex flex-col rounded-sm text-white bg-gray-50 p-5">
   <!-- head -->
   <div class="bg-gray-700 mb-5 p-5 flex justify-between align-middle rounded-lg">
      <!-- title head -->
      <div class="flex gap-3 text-left ">
         <svg width="40" height="40" viewBox="0 0 483 483" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="241.5" cy="241.5" r="241.5" fill="white" />
            <path
               d="M216.656 374L189.546 301.736L117.281 274.625L189.546 247.514L216.656 175.25L243.767 247.514L316.031 274.625L243.767 301.736L216.656 374ZM154.547 200.094L142.348 166.746L109 154.547L142.348 142.348L154.547 109L166.746 142.348L200.094 154.547L166.746 166.746L154.547 200.094ZM316.031 241.5L299.929 199.633L258.062 183.531L299.929 167.429L316.031 125.562L332.133 167.429L374 183.531L332.133 199.633L316.031 241.5Z"
               fill="#534AED" />
         </svg>

         <h3 class="text-4xl font-semibold">DATA ATURAN</h3>
      </div>
      <!-- btn -->
      <div class="flex">
         <button type="button" onclick="toggleModal(true)"
            class="text-white bg-[#050708] focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center hover:bg-indigo-500 focus:ring-gray-600 me-2 mb-2 flex gap-2">
            <svg width="20" height="20" viewBox="0 0 416 416" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path
                  d="M208 0C93.31 0 0 93.31 0 208C0 322.69 93.31 416 208 416C322.69 416 416 322.69 416 208C416 93.31 322.69 0 208 0ZM304 224H224V304H192V224H112V192H192V112H224V192H304V224Z"
                  fill="white" />
            </svg>
            Add Data
         </button>
      </div>
   </div>

   <!-- filter data -->
   <div class="flex flex-row-reverse gap-3 align-bottom">

      <button type="button" id="delete_checkbok"
         class="text-black focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-3 py-2.5 text-center items-center hover:text-red-600 focus:ring-gray-600 me-2 mb-2 flex gap-1">

         Delete All Check
      </button>
      <form>
         <select id="filterJenis" class="text-sm rounded-lg block w-full p-2.5 text-black">
            <option value="">Filter By Jenis</option>
            {% for jenis in jenis_elektronik %}
            <option value="{{ jenis.id }}">{{ jenis.nama }}</option>
            {% endfor %}
         </select>
      </form>
      <form>
         <input type="text" id="filterGejala" class="text-sm rounded-lg block w-full p-2.5 text-black"
            placeholder="Cari Nama Kerusakan...">
      </form>
   </div>

   <!-- tabel -->
   <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-300">
         <thead class="text-xl uppercase bg-gray-700 text-indigo-400">
            <tr>
               <th scope="col" class="px-6 py-3">JENIS</th>
               <th scope="col" class="px-6 py-3">GEJALA</th>
               <th scope="col" class="px-6 py-3">KERUSAKAN</th>
               <th scope="col" class="px-6 py-3 text-center">KERUSAKAN SEBELUMNYA</th>
               <th scope="col" class="text-center px-6 py-3 flex justify-center items-center gap-6">
                  <p>Action</p>
                  <input id="checkAll" type="checkbox" class="w-4 h-4 text-blue-600 opacity-50 focus:opacity-100 rounded-sm focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
               </th>
            </tr>
         </thead>
         <tbody id="aturanTableBody">
            {% for data in aturan %}
            <tr class="border-b bg-gray-800 border-gray-500 hover:bg-gray-600">
               <td class="px-6 py-4 font-medium whitespace-nowrap text-white">{{ data.jenis_elektronik }}</td>
               <td class="px-6 py-4">
                  {% for g in data.gejala.all %}
                  <span class="text-xs font-medium px-2.5 py-0.5 rounded-md bg-gray-700 text-yellow-400 border border-yellow-400">{{ g.kodeGjl }}</span>
                  {% endfor %}
               </td>
               <td class="px-6 py-4">
                  <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-md bg-gray-700 text-green-400 border border-green-400">
                     <span class="text-yellow-400">{{ data.kerusakan.kodeRsk }}</span> | {{ data.kerusakan }}
                  </span>
               </td>
               <td class="px-6 py-4 text-center">
                  {% for k in data.kerusakan_sebelumnya.all %}
                  <span class="text-xs font-medium px-2.5 py-0.5 rounded-md bg-gray-700 text-pink-400 border border-pink-600">
                     {{k.kodeRsk }} | {{k.nama_kerusakan }}
                  </span>
                  {% empty %}
                  <span class="text-xs font-medium px-2.5 py-0.5 rounded-md bg-gray-700 text-gray-400">-</span>
                  {% endfor %}
               </td>
               <td class="text-center px-8 py-4 flex gap-4 items-center justify-center">
                  <a href="#" onclick="editGejala('{{ data.id }}', '{{ data.jenis_elektronik.id }}', '{{ data.kodeRsk }}', '{{ data.kerusakan }}', '{{ data.deskripsi }}')" class="text-indigo-400 hover:text-yellow-400">Edit</a>
                  <a href="#" onclick="hapusGejala('{{ data.id }}')" class="text-indigo-400 hover:text-red-400">Hapus</a>
                  <input type="checkbox" value="{{ data.id }}" class="rowCheckbox w-4 h-4 text-blue-600 opacity-50 focus:opacity-100 rounded-sm focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>

<!-- MODAL -------------------------------------------------------------------------- -->
<!-- Modal Tambah Gejala -->
{% load static %}
<div id="addGejalaModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
   <div class="bg-gray-700 rounded-lg shadow-lg w-96 p-6">
      <h2 class="text-xl font-bold mb-4 text-white">Tambah Data</h2>
      <form id="addGejalaForm" method="POST" action="{% url 'tambah_aturan' %}">
         {% csrf_token %}
         <div class="mb-3">
            <label for="jenis_elektronik" class="block text-sm font-medium text-white">Jenis Elektronik</label>
            <select id="jenis_elektronik" name="jenis_elektronik" required class="w-full p-2 border rounded">
               <option value="">Pilih Jenis</option>
               {% for jenis in jenis_elektronik %}
               <option value="{{ jenis.id }}">{{ jenis.nama }}</option>
               {% endfor %}
            </select>
         </div>
         <div class="mb-3">
            <label for="gejala" class="block text-sm font-medium text-white">Gejala</label>
            <select id="gejala" name="gejala[]" multiple required class="w-full p-2 border rounded">
               {% for gejala in gejalas %}
               <option value="{{ gejala.id }}">{{ gejala.kodeGjl }} | {{ gejala.nama }}</option>
               {% endfor %}
            </select>
            <p class="text-xs text-gray-300 mt-1">Gunakan CTRL/CMD untuk memilih lebih dari satu.</p>
         </div>
         <div class="mb-3">
            <label for="kodeRsk" class="block text-sm font-medium text-white">Kerusakan</label>
            <select id="kodeRsk" name="kodeRsk" required class="w-full p-2 border rounded">
               <option value="">Pilih Kerusakan</option>
               {% for kerusakan in kerusakans %}
               <option value="{{ kerusakan.id }}">{{ kerusakan.kodeRsk }} | {{ kerusakan.nama_kerusakan }}</option>
               {% endfor %}
            </select>
         </div>
         <div class="flex justify-end gap-2">
            <button type="button" onclick="toggleModal(false)" class="px-4 py-2 bg-gray-400 rounded">Batal</button>
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Simpan</button>
         </div>
      </form>
   </div>
</div>
<!-- Modal Edit Gejala -->
<div id="editGejalaModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
   <div class="bg-gray-700 rounded-lg shadow-lg w-96 p-6">
      <h2 class="text-xl font-bold mb-4 text-white">Edit Data</h2>
      <form id="editGejalaForm" method="POST" action="{% url 'edit_aturan' %}">
         {% csrf_token %}
         <input type="hidden" id="edit_id" name="id">

         <div class="mb-3">
            <label for="edit_jenis_elektronik" class="block text-sm font-medium text-white">Jenis Elektronik</label>
            <select id="edit_jenis_elektronik" name="jenis_elektronik" required class="w-full p-2 border rounded">
               <option value="">Pilih Jenis</option>
               {% for jenis in jenis_elektronik %}
               <option value="{{ jenis.id }}">{{ jenis.nama }}</option>
               {% endfor %}
            </select>
         </div>

         <div class="mb-3">
            <label for="edit_gejala" class="block text-sm font-medium text-white">Gejala</label>
            <select id="edit_gejala" name="gejala[]" multiple required class="w-full p-2 border rounded">
               {% for gejala in gejalas %}
               <option value="{{ gejala.id }}"><span class="text-yellow-500">{{ gejala.kodeGjl }}</span> | {{ gejala.nama }}</option>
               {% endfor %}
            </select>
            <p class="text-xs text-gray-300 mt-1">Gunakan CTRL/CMD untuk memilih lebih dari satu.</p>
         </div>

         <div class="mb-3">
            <label for="edit_kodeRsk" class="block text-sm font-medium text-white">Kerusakan</label>
            <select id="edit_kodeRsk" name="kodeRsk" required class="w-full p-2 border rounded">
               <option value="">Pilih Kerusakan</option>
               {% for kerusakan in kerusakans %}
               <option value="{{ kerusakan.id }}">{{kerusakan.kodeRsk}} | {{ kerusakan.nama_kerusakan }}</option>
               {% endfor %}
            </select>
         </div>

         <div class="flex justify-end gap-2">
            <button type="button" onclick="toggleEditModal(false)" class="px-4 py-2 bg-gray-400 rounded">Batal</button>
            <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded">Update</button>
         </div>
      </form>
   </div>
</div>

<!-- Import modal -->
<div id="import-modal" tabindex="-1" aria-hidden="true"
   class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full bg-black bg-opacity-50">
   <div class="relative p-4 w-full max-w-md mx-auto -mt-[2%]">
      <div class="relative rounded-lg shadow-sm bg-gray-700">
         <button type="button" onclick="hideImportModal()"
            class="absolute top-3 end-2.5 text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center  hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
         </button>
         <div class="p-4 md:p-5">
            <h3 class="mb-4 text-xl font-bold  text-white">Import Data</h3>
            <form method="POST" action="{% url 'import_kerusakan' %}" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="flex items-center justify-center w-full mb-3">
                  <label for="dropzone-file"
                     class="flex flex-col items-center justify-center w-full h-64 border-2 0 border-dashed rounded-lg cursor-pointer  bg-gray-700  border-gray-600 hover:border-gray-500 hover:bg-gray-600">
                     <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4  text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                           fill="none" viewBox="0 0 20 16">
                           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-400"><span class="font-semibold">Click to
                              upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-400">Excel file</p>
                     </div>
                     <input id="dropzone-file" type="file" name="file" class="hidden" required />
                  </label>
               </div>
               <div class="flex justify-end gap-4">
                  <button type="button" onclick="hideImportModal()"
                     class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 before:focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700">Cancel</button>
                  <button type="submit"
                     class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
                     Import
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- NOTIF -------------------------------------------------------------------------- -->
<!-- notif -->
{% if messages %}
<div class="fixed top-5 right-5 z-50">
   {% for message in messages %}
   {% if message.tags == 'success' %}
   <div id="toast-success"
      class="flex items-center w-full max-w-xs p-4 mb-4 rounded-lg shadow-sm text-green-900 bg-green-500" role="alert">
      <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 rounded-lg bg-green-800 text-green-200">
         <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
               d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
         </svg>
         <span class="sr-only">Check icon</span>
      </div>
      <div class="ms-3 text-sm font-semibold">{{ message }}</div>
      <button type="button"
         class="ms-auto -mx-1.5 -my-1.5  rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5  inline-flex items-center justify-center h-8 w-8 text-gray-500 hover:text-white bg-green-500 hover:bg-gray-700"
         data-dismiss-target="#toast-success" aria-label="Close">
         <span class="sr-only">Close</span>
         <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
         </svg>
      </button>
   </div>
   {% elif message.tags == 'error' %}
   <div id="toast-danger"
      class="flex items-center w-full max-w-xs p-4 mb-4  rounded-lg shadow-sm text-red-900 bg-red-500" role="alert">
      <div class="inline-flex items-center justify-center shrink-0 w-8 h-8  rounded-lg bg-red-800 text-red-200">
         <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
               d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z" />
         </svg>
         <span class="sr-only">Error icon</span>
      </div>
      <div class="ms-3 text-sm font-semibold">{{ message }}</div>
      <button type="button"
         class="ms-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5  inline-flex items-center justify-center h-8 w-8 text-gray-500 hover:text-white bg-gray-800 hover:bg-gray-700"
         data-dismiss-target="#toast-danger" aria-label="Close">
         <span class="sr-only">Close</span>
         <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
         </svg>
      </button>
   </div>
   {% endif %}
   {% endfor %}
</div>
{% endif %}
</div>

{% endblock content %}

<!-- SCRIPT ============================================================================ -->
{% block script %}
<script>
   document.getElementById("edit_jenis_elektronik").addEventListener("change", function() {
       var jenis_id = this.value;
       var gejalaSelect = document.getElementById("edit_gejala");
       var kerusakanSelect = document.getElementById("edit_kodeRsk");
   
       // Kosongkan select gejala & kerusakan
       gejalaSelect.innerHTML = "";
       kerusakanSelect.innerHTML = '<option value="">Pilih Kerusakan</option>';
   
       if (jenis_id) {
           fetch(`/get_gejala_kerusakan/?jenis_id=` + jenis_id)
           .then(response => response.json())
           .then(data => {
               // Tambahkan opsi gejala yang sesuai
               data.gejalas.forEach(item => {
                   let option = new Option(item.kodeGjl + " | " + item.nama, item.id);
                   gejalaSelect.appendChild(option);
               });
   
               // Tambahkan opsi kerusakan yang sesuai
               data.kerusakans.forEach(item => {
                   let option = new Option(item.kodeRsk + " | " + item.nama_kerusakan, item.id);
                   kerusakanSelect.appendChild(option);
               });
           })
           .catch(error => console.error("Error fetching data:", error));
       }
   });
</script>
<script>
   document.getElementById("jenis_elektronik").addEventListener("change", function() {
       var jenis_id = this.value;
       var gejalaSelect = document.getElementById("gejala");
       var kerusakanSelect = document.getElementById("kodeRsk");
   
       // Kosongkan select gejala & kerusakan
       gejalaSelect.innerHTML = "";
       kerusakanSelect.innerHTML = '<option value="">Pilih Kerusakan</option>';
   
       if (jenis_id) {
           fetch(`/get_gejala_kerusakan/?jenis_id=` + jenis_id)
           .then(response => response.json())
           .then(data => {
               // Tambahkan opsi gejala yang sesuai
               data.gejalas.forEach(item => {
                   let option = new Option(item.kodeGjl + " | " + item.nama, item.id);
                   gejalaSelect.appendChild(option);
               });
   
               // Tambahkan opsi kerusakan yang sesuai
               data.kerusakans.forEach(item => {
                   let option = new Option(item.kodeRsk + " | " + item.nama_kerusakan, item.id);
                   kerusakanSelect.appendChild(option);
               });
           })
           .catch(error => console.error("Error fetching data:", error));
       }
   });
</script>
   
<!-- add data -->
<script>
   function toggleModal(show) {
      document.getElementById("addGejalaModal").classList.toggle("hidden", !show);
   }

   document.getElementById("addGejalaForm").addEventListener("submit", function (event) {
      event.preventDefault(); // Mencegah reload

      let formData = new FormData(this);
      let submitButton = this.querySelector("button[type='submit']");
      submitButton.disabled = true; // Mencegah klik ganda

      fetch("{% url 'tambah_aturan' %}", {
         method: "POST",
         body: formData,
      })
         .then(response => response.json())
         .then(data => {
            if (data.status === "success") {
               toggleModal(false);
               location.reload();
            } else {
               alert(data.message); // Menampilkan error ke user
            }
         })
         .catch(error => console.error("Error:", error))
         .finally(() => {
            submitButton.disabled = false; // Mengaktifkan kembali tombol submit
         });
   });
</script>
<!-- hapus data -->
<script>
   function hapusGejala(id) {
      if (confirm("Apakah Anda yakin ingin menghapus kerusakan ini?")) {
         fetch("{% url 'hapus_aturan' %}", {
            method: "POST",
            body: JSON.stringify({ "id": id }),
            headers: {
               "X-CSRFToken": "{{ csrf_token }}",
               "Content-Type": "application/json"
            }
         })
            .then(response => response.json())
            .then(data => {
               if (data.status === "success") {
                  location.reload();
               }
            })
            .catch(error => console.error("Error:", error));
      }
   }
</script>
<!-- edit datas -->
<script>
   function toggleEditModal(show) {
      document.getElementById("editGejalaModal").classList.toggle("hidden", !show);
   }

   function editGejala(id, jenis_elektronik_id, kodeRsk, nama_kerusakan, deskripsi) {
      document.getElementById("edit_id").value = id;
      document.getElementById("edit_jenis_elektronik").value = jenis_elektronik_id;
      document.getElementById("edit_kodeRsk").value = kodeRsk;

      toggleEditModal(true);
   }

   document.getElementById("editGejalaForm").addEventListener("submit", function (event) {
      event.preventDefault();
      let formData = new FormData(this);
      let submitButton = this.querySelector("button[type='submit']");
      submitButton.disabled = true;

      fetch("{% url 'edit_aturan' %}", {
         method: "POST",
         body: formData,
      })
         .then(response => response.json())
         .then(data => {
            if (data.status === "success") {
               toggleEditModal(false);
               location.reload();
            } else {
               alert(data.message);
            }
         })
         .catch(error => console.error("Error:", error))
         .finally(() => {
            submitButton.disabled = false;
         });
   });
</script>

<!-- multipel delete -->
<script>
   // Select/Deselect All
   document.getElementById("checkAll").addEventListener("change", function () {
      const checkboxes = document.querySelectorAll(".rowCheckbox");
      checkboxes.forEach(checkbox => {
         checkbox.checked = this.checked;
      });
   });

   // Handle Delete Action
   document.getElementById("delete_checkbok").addEventListener("click", function () {
      const selectedIds = Array.from(document.querySelectorAll(".rowCheckbox:checked"))
         .map(checkbox => checkbox.value);

      if (selectedIds.length === 0) {
         alert("Pilih data yang ingin dihapus!");
         return;
      }

      if (!confirm("Apakah Anda yakin ingin menghapus data yang dipilih?")) {
         return;
      }

      // AJAX Request
      fetch("{% url 'hapus_aturan_multiple' %}", {
         method: "POST",
         headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Content-Type": "application/json"
         },
         body: JSON.stringify({ ids: selectedIds })
      })
         .then(response => {
            if (response.ok) {
               window.location.reload(); // Reload page
            } else {
               alert("Terjadi kesalahan saat menghapus data.");
            }
         })
         .catch(error => console.error("Error:", error));
   });
</script>
<!-- FILTER DATA -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   document.addEventListener("DOMContentLoaded", function () {
      function fetchFilteredData() {
         let jenis_elektronik = document.getElementById('filterJenis').value;
         let kerusakan = document.getElementById('filterGejala').value;
         let tbody = document.getElementById('aturanTableBody');
   
         fetch(`{% url 'filter_aturan' %}?jenis_elektronik=${jenis_elektronik}&kerusakan=${kerusakan}`)
            .then(response => response.json())
            .then(data => {
               tbody.innerHTML = "";
   
               data.aturan.forEach(item => {
                  let gejalaHTML = item.gejala.map(g => `
                     <span class="text-xs font-medium px-2.5 py-0.5 rounded-md bg-gray-700 text-yellow-400 border border-yellow-400">
                        ${g.kodeGjl}
                     </span>
                  `).join("");
   
                  let row = `
                     <tr class="border-b bg-gray-800 border-gray-500 hover:bg-gray-600">
                        <td class="px-6 py-4 font-medium whitespace-nowrap text-white">${item.jenis_elektronik}</td>
                        <td class="px-6 py-4">${gejalaHTML}</td>
                        <td class="px-6 py-4">
                           <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-md bg-gray-700 text-green-400 border border-green-400">
                              <span class="text-yellow-400">${item.kodeRsk}</span> | ${item.kerusakan}
                           </span>
                        </td>
                        <td class="text-center px-8 py-4 flex gap-4 items-center justify-center">
                           <a href="#" onclick="editGejala('${item.id}', '${item.jenis_elektronik}', '${item.kodeRsk}', '${item.kerusakan}')" class="text-indigo-400 hover:text-yellow-400">Edit</a>
                           <a href="#" onclick="hapusGejala('${item.id}')" class="text-indigo-400 hover:text-red-400">Hapus</a>
                           <input type="checkbox" value="${item.id}" class="rowCheckbox w-4 h-4 text-blue-600 opacity-50 focus:opacity-100 rounded-sm focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        </td>
                     </tr>`;
                  tbody.innerHTML += row;
               });
            })
            .catch(error => console.error("Error:", error));
      }
   
      document.getElementById('filterJenis').addEventListener('change', fetchFilteredData);
      document.getElementById('filterGejala').addEventListener('keyup', fetchFilteredData);
   });
</script>
   
<!-- NOTIFIKASI  -->
<script>
   document.addEventListener("DOMContentLoaded", function () {
      // Fungsi untuk menghapus elemen toast
      function removeToast(toast) {
         toast.style.transition = "opacity 0.5s ease-out";
         toast.style.opacity = "0";
         setTimeout(() => toast.remove(), 500); // Hapus dari DOM setelah efek fade-out
      }

      // Hapus pesan otomatis setelah 300 detik (300000 ms)
      setTimeout(function () {
         let toasts = document.querySelectorAll(".fixed.top-5.right-5.z-50 > div");
         toasts.forEach(removeToast);
      }, 3000);

      // Event listener untuk tombol close
      document.querySelectorAll("[data-dismiss-target]").forEach(button => {
         button.addEventListener("click", function () {
            let toast = this.closest("div[role='alert']");
            if (toast) {
               removeToast(toast);
            }
         });
      });
   });
</script>
<!-- MODAL -->
<script>
   function showImportModal() {
      document.getElementById('import-modal').classList.remove('hidden');
      document.getElementById('import-modal').classList.add('flex');
   }

   function hideImportModal() {
      document.getElementById('import-modal').classList.add('hidden');
      document.getElementById('import-modal').classList.remove('flex');
   }
</script>
{% endblock script %}